.wave path {
    animation: waveMove 10s ease-in-out infinite;
}

@keyframes waveMove {
0% {
    transform: translateX(0);
}
50% {
    transform: translateX(-20px);
}
100% {
    transform: translateX(0);
}
}
